.header-style {
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    background-size: 50%;
    height: 100px;
}

.logo {
    border-top: solid 50px transparent;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
}

.grey {
    color: grey;
}

.imgs {
    font-size: 10px;
}

table {
    width: 100%;
}

thead {
    background-color: #4EA0FF;
}

th {
    color: white;
    width: 33.3%;
}

.lightblue-row {
    background-color: #B1E5F2;
}